<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.WanApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme"
        tools:targetApi="31">
        <!--闪屏页-->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--主页-->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask" />
        <!--web页面-->
        <activity android:name=".ui.web.WebActivity" />
        <!--广告页-->
        <activity android:name=".ui.ad.AdActivity" />
        <!--文章分享页-->
        <activity android:name=".ui.share.ShareArticleActivity" />
        <!--文章二级列表页面-->
        <activity android:name=".ui.article.ArticleSubActivity" />
        <!--教程页-->
        <activity android:name=".ui.guide.TutorialArticleActivity" />
        <!--搜索页-->
        <activity android:name=".ui.search.SearchActivity" />
        <!--我的分享列表页-->
        <activity android:name=".ui.share.MineShareListActivity" />
        <!--我的收藏列表页-->
        <activity android:name=".ui.collect.CollectionActivity" />
        <!--我的积分列表页-->
        <activity android:name=".ui.coin.MineCoinActivity" />
        <!--积分排名页-->
        <activity android:name=".ui.coin.RankActivity" />
        <!--工具列表页-->
        <activity android:name=".ui.tool.ToolActivity" />
        <!--用户主页-->
        <activity android:name=".ui.user.UserPageActivity" />
        <!--用户信息-->
        <activity android:name=".ui.profile.ProfileActivity" />
        <!--设置页-->
        <activity android:name=".ui.setting.SettingActivity" />
        <!--消息中心页-->
        <activity android:name=".ui.message.MessageCenterActivity" />
        <!--登录注册页-->
        <activity
            android:name=".ui.auth.AuthActivity"
            android:launchMode="singleTask" />

        <!-- 宽度适配基准，360dp -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <!--x5多进程加载优化service-->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

</manifest>